body { padding-top: 0px; }

.navbar-user-image {
    width: 24px;
    height: 24px;
    margin-right: 3px;
    border-radius: 4px;
}

#iron-router-progress.spinner:before {
    border-color : #FF9966;
}

#iron-router-progress {
    background-color : #FF9966;
    box-shadow       : 0 0 5px #FF9966;
}