<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    {% block meta %}
        <meta charset="UTF-8">
        {{ meta or "" }}
    {% endblock %}

    {% block meteor_includes %}
            {% if not remove_meteor_includes %}
                <!--
                    Meteor Inlude Files
                -->
                {% if developer_mode %}
                    {%- for link in meteor_package_css %}
                        <link type="text/css" rel="stylesheet" href="{{ meteor_root_url_ports or ""}}{{ link }}">
                    {%- endfor -%}

                    {%- for link in meteor_package_js %}
                        <script type="text/javascript" src="{{ meteor_root_url_ports or ""}}{{ link }}"></script>
                    {%- endfor -%}
                {% endif %}

            {% endif %}

            {{ meteor_includes or "" }}

    {% endblock %}

    {% block includes %}

        {%- for link in meteor_web_include_css %}
            <link type="text/css" rel="stylesheet" href="{{ link }}">
        {%- endfor -%}

        {%- for link in meteor_web_include_js %}
            <script type="text/javascript" src="{{ link }}"></script>
        {%- endfor -%}

    {% endblock %}


</head>
<body>
    {% block content %} {{ content or "" }} {% endblock %}
</body>
